body {
	background: rgb(255,255,255);
	font-family: "Montserrat", sans-serif;
}

header div.menu {
	height:140px;
	background: rgba(46,170,220, 0.6);
	box-shadow:  0 10px 10px rgba(0,0,20,0.3);
}

header {

  	height: 584px;
  	background-image: url(../image/background-header.png);
  	background-repeat: no-repeat;
  	background-position: center center;
  	box-shadow:  0 10px 10px rgba(0,0,50,0.3);
}

header div.menu a img {

	display: block;
	height: 110px;
	width: 112px;
	margin: 0 auto;
	padding-top: 15px;
}

header nav ul {

	list-style-type: none ;
	padding-right: 50px;
}

header nav ul li {

	display: inline-block;
	float: right;
	margin-right: 70px;
	padding-top: 45px;
}

header nav ul li a {

 	color: #fff;
 	font-size: 20px;
 	text-decoration: none;
 	font-weight: bold;
}

header nav ul li a:hover {

	text-decoration: underline ;
	color: #2fbaef;
} 

header div.call h1 {

	margin-top: 150px;
	text-align: center;
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 0px;
}

header div.call h1 span {

	color: #2ebaee;
}

header div.call p.subtext {

	color: #fff;
	font-size: 18px;
	text-align: center;
	margin-top: 0px;
}

header div.call a {

	display: block;
	width: 200px;
	height: 50px;
	background: #2ebaee;
	color: #fff;
	border-radius: 25px;
	text-align: center;
	margin: 0 auto;
	line-height: 50px;
	text-decoration: none;
	font-weight: bold;
}

header div.call a:hover {

	background: #fff;
	color: #2ebaee;	
	border: 1px solid #2ebaee;
}

/******************************************************************/

div.back-renders {

	background-image: url(../image/blueback.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding-bottom: 10px;
}

h2 {

	color: #242424;
	font-size: 40px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
	border-bottom: 1px solid #e7e7e7;
}

img.icon {

	height: 70px;
	display: block;
	margin-bottom: 20px;
}

div.achiv div {

	padding-top: 50px;
}

p.short {

	padding-right: 10px;
}

div h3 {

	color: #242424;
	font-size: 24px;
	margin-bottom: 20px;
}

div p.short {

	color: #878787;
	font-size: 16px;
	line-height: 24px;
	max-width: 520px;

}

div.renders h3 {

	margin-top: 240px ;
}

div.renders h3 {

	color: #242424;
	font-size: 36px;
}

div.renders p.black {

	padding-right: 100px;
	color: #878787;
    max-width: 520px;
}

a.download {

	display: block;
	text-align: center;
	text-decoration: none;
	background: #2ebaee;
	height: 45px;
	width: 150px;
	border-radius: 24px;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	margin-top: 50px;
}

a.download:hover {

	color: #2ebaee;
	background: #fff;
	border: 1px solid #2ebaee;
}

img.rend {

	height: 480px;
	margin-left: 200px;
	margin-top: 190px;
	box-shadow: 0 10px 10px rgba(0,0,50,0.4) ;
}

div.renders2 {

	margin-top: 220px;

}

img.rend2 {

	height: 480px;
	margin-right: 200px;
	margin-top: -150px;
	box-shadow: 0 10px 10px rgba(0,0,50,0.4) ;
}

div.renders2 h3 {

	color: #fff;
	font-size: 36px;
	margin-top: -140px;
}

a.download2 {

	display: block;
	text-align: center;
	text-decoration: none;
	background: #fff;
	height: 45px;
	width: 150px;
	border-radius: 24px;
	font-size: 16px;
	color: #2ebaee;
	line-height: 44px;
	margin-top: 50px;
}

a.download2:hover {

	color: #fff;
	background: #2ebaee;
	border: 1px solid #fff;
}

div.renders2 div.p2 {

	padding-left: 100px;
}

div.renders2 h3 {

	color: #fff;
	font-size: 36px;
	margin-bottom: 20px;
}

div.renders2 p {

	color: #fff;
	font-size: 16px;
	line-height: 24px;
	max-width: 520px;
}

div.renders3 h3 {

	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
}

div.renders3 p {

	color: #fff;
	font-size: 16px;
	line-height: 24px;
	max-width: 520px;
	padding-left: 10px;
}

div.renders3 h3 {

	margin-top: 180px ;
}

div.renders3 h3 {

	color: #fff;
	font-size: 36px;
}

img.rend3 {

	height: 480px;
	margin-left: 200px;
	margin-top: 100px;
	box-shadow: 0 10px 10px rgba(0,0,50,0.4) ;
}

a.download3 {

	display: block;
	text-align: center;
	text-decoration: none;
	background: #fff;
	height: 45px;
	width: 150px;
	border-radius: 24px;
	font-size: 16px;
	color: #2ebaee;
	line-height: 44px;
	margin-top: 50px;
}

a.download3:hover {

	color: #fff;
	background: #2ebaee;
	border: 1px solid #fff;
}

/*************************BlueLight***************************/

section.man{

	height: 570px;
}

section.man img {

	max-height: 600px;
	max-width: 98.5%;
	box-shadow:  0 0 10px rgba(0,0,20,0.3);
	
}

section.man div h3{

	font-size: 72px;
	color: #000;
	max-width: 500px;
	margin-left: 75px;
}

section.man div p{

	color: #878787;
	font-size: 16px;
	max-width: 500px;
	margin-left: 55px;
}

a.More {

	display: block;
	text-align: center;
	text-decoration: none;
	background: #2ebaee;
	height: 45px;
	width: 150px;
	border-radius: 24px;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	margin-top: 30px;
	margin-left: 75px;
}

a.More:hover {

	color: #2ebaee;
	background: #fff;
	border: 1px solid #2ebaee;
}


/********************************************NEXT BLOCK**********************************************/


section.next{

	min-height: 400px;
	overflow: hidden;

}

section.next div.block1{

	background-image: url(../image/block-1.png);
	min-height: 400px;
	background-repeat: no-repeat;
	background-position: center center;
}

section.next div.block2{

	background-image: url(../image/block-2.png);
	min-height: 400px;
	background-repeat: no-repeat;
	background-position: center center;
}

section.next div.block3{

	background-image: url(../image/block-3.png);
	min-height: 400px;
	background-repeat: no-repeat;
	background-position: center center;
}

section.next div.block4{

	background-image: url(../image/block-4.png);
	min-height: 400px;
	background-repeat: no-repeat;
	background-position: center center;
}

section.next div h4{

	color: #fff;
	font-size: 40px;
	font-weight: bold;
	height: 100%;
	width: 110%;
	background: rgba(0, 0, 0, 0.7);
	margin: 0;
	padding: 140px 65px 0 65px;
	max-width: 390px;

}

section.next div h4:hover{

	color: #fff;
	font-size: 40px;
	font-weight: bold;
	height: 100%;
	width: 110%;
	background: rgba(46, 180, 238, 0.7);
	margin: 0;
	padding: 140px 65px 0 65px;
	max-width: 390px;
}

/**************************FOOTER***********************/

section.footer{

	margin-top: 50px;
	background-image: url(../image/footer.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 724px;
}

section.footer div.contact{

	color: #fff;
	font-size: 70px;
	font-weight: bold;
	margin-top: 110px;
	display: inline-block;
}

section.footer p.adress{

	font-size: 20px;
	color: #878787;
	margin-top: 30px;
}

section.footer p{

	color: #878787;
	font-size: 28px;
	margin: 20px 0 0 0;
}

section.footer p span{

	color: #2ebaee;
}

section.footer ul{

	list-style-type: none;
	margin-top: 40px ;
	padding: 0;
}

section.footer ul li{

	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 60px;
}

section.footer ul li a{

	text-decoration: none;
}

section.footer input[type="text"], section.footer input[type="email"]{

	display: block;
	width: 635px;
	height: 60px;
	background: none;
	border-radius: 6px;
	border: 1px solid #535353;
	color: #fff;
	font-size: 17px;
	padding-left: 30px;
	margin: 20px auto;
}

section.footer input[type="text"]{

	margin-top: 126px;
}

section.footer textarea{

	width: 607px;
	height: 200px;
	background: none;
	border-radius: 6px;
	border: 1px solid #535353;
	color: #fff;
	font-size: 17px;
	padding: 30px;
	margin: 20px auto;
	resize: none;
}

section.footer button{

	display: block;
	text-align: center;
	text-decoration: none;
	background: #2ebaee;
	border-radius: 24px;
	font-size: 16px;
	color: #fff;
	line-height: 44px;
	margin: 20px auto;
	border: none;
}

section.footer button:hover{

	color: #2ebaee;
	background: #fff;
	border: 1px solid #2ebaee;
}


footer{

	height: 136px;
	background: #000;
}

footer p, footer ul{

	list-style-type: none;
	margin-top: 60px;
	padding: 0;
	color: #fff;
}

footer ul li{

	display: inline-block;
	margin-right: 20px;
}

footer ul li a{

	color: #fff;
	font-size: 14 px;
	text-decoration: none;
	font-weight: bold;
}

footer ul li a:hover{

	text-decoration: underline;
}